body{
    background-color: #213F5B !important;
}
#top_menu{
    background-color: rgb(23, 23, 23); /*#213F5B*/
}
#top_menu a img{
    height: 56px;
    width: auto;
}
#top_menu a{
    color:white !important;
}
@media only screen and (min-width: 601px) {
    #top_menu a img{
        height: 64px;
        width: auto;
    }
}

*:focus{
    outline: none;
    user-select: none;
}

::-webkit-scrollbar-track {
    background-color: #213F5B;
}
::-webkit-scrollbar {
    width: 6px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius:10px;
}
