body{
    background-color: #213F5B !important;
}
#top_menu{
    background-color: rgb(23, 23, 23); /*#213F5B*/
}
#top_menu a img{
    height: 56px;
    width: auto;
}
#top_menu a{
    color:white !important;
}
@media only screen and (min-width: 601px) {
    #top_menu a img{
        height: 64px;
        width: auto;
    }
}

#chat{
    border:4px solid black;
}
.chat_box span{
    background-color: #213F5B !important;
    display: inline-block;
    padding:10px;
    margin:2px;
    border-radius: 20px;
    color:white;
}
.chat_box span b{
    font-size: 8pt;
}

*:focus{
    outline: none;
    user-select: none;
}

::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 6px;
    background: white;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius:10px;
}
